/* .title{
    text-align: center;
    margin: auto;
    width: 50%;
}
.container {
        margin-left: -0.8em;
        display: grid;
        align-self: center;
        grid-template-columns:40% 40% 40%;
        align-items: center;
  }
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */