*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.top{
    background-color: deepskyblue;
    border: none;
}

.popbg{
   background-color: beige;
}
.abpopbg{
    background-color: beige;
}
.pop-img{
  margin-left: 20px;
}
.pop-txt{
    margin-left: 50px;
    margin-top: -1.3em;
    color: black;
    font-size: 20px;
    font-family:'Arial';
}
.bubocol{
    color: black;
    font-size: 15px;
    font-weight: bold;
    background-color: beige;
}
.bubocol:hover:active{
    color: black;
    background-color: aliceblue;
}
.bubocol:hover{
color: black;
background-color:aliceblue;
}
.popup1{
font-weight: bold;
font-size: 20px;
font-family:'Arial';
}
.popmoveab{
    position: relative;
    left: 0em;
}










.logo{
transform: translate(1.5em,0em);
}
.logo-move{
    margin: 0.3em 0.2em;
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
}
.bgabout{
    background-image: linear-gradient(180deg, yellow, orange);
    zoom: 90%;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 5em;
}

.aboutcard{
    width: 325px;
    background-color: maroon;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.5s ease;
}
.aboutcard:hover{
    transform: translateY(-20px);
}
.aboutcard img{
    width: 100%;
    object-fit: cover;
}
.card-content{
    padding: 20px;
}
.center-heading{
font-weight: bold;
font-size: 30px;
font-family:'Arial';
transform: translate(19.5em,1em);
}
.center-para{
    font-size: 20px;
    color: white;
    font-family:'serif';
    transform: translate(29em,0.3em);
}
.card-content p{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 14px;
font-weight: bold;
color: white;
margin-bottom: 20px;
}
.card-button{
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
}
.center-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.desc{
    color: chartreuse;
    font-weight: bold;
    font-family: Calibri;
}

.footer-box{
        padding: 30px;
        background-color:chartreuse;
        font-family: "Poppins", Arial, sans-serif;
}
.footer{
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    font-weight:700;
    color:darkmagenta;
}

.footer-box-1{
    font-family: "Poppins", Arial, sans-serif;
    font-size: 30px;
    font-weight:bolder;
    zoom: 80%;
}

.footer-box-1 p{
    font-family: cursive;
    font-size: 25px;
    font-weight:700;
}
.footer-box-31{
        margin: -10em 35em;
        font-family: "Poppins", Arial, sans-serif;
        white-space: nowrap;
        font-size: 30px;
        font-weight:bolder;

}
.boxin1{
    transform: translate(42.3em,14em);
}
.footer-box-3 address{
    transform: translate(42.3em,12em);
    font-family: cursive;
    font-size: 25px;
    font-weight:700;
}
.boxin2{
transform: translate(63.80em,18em);
width: 28px;
height: 28px;
}
.phone{
    transform: translate(42.4em,10.2em);
    font-family: cursive;
    font-size: 25px;
    font-weight:700;
}
.boxin3{
transform: translate(64em,15.5em);
width: 28px;
height: 28px;
}
.mail{
    transform: translate(42.6em,8.55em);
    font-family: cursive;
    font-size: 25px;
    font-weight:700;
}
.move-left{
    transform: translate(-3em,0.5em);
}
.footer-last{
    font-family:Tahoma;
    font-size: 15px;
    color: black;
    width: 100%;
    padding: -1em -1em;
    background-color:deeppink;
    margin-top: 2em;
    text-align: center;
    font-weight:700;
}

.centPad{
border: 2px solid black;
background-color: deepskyblue;
border-right: 5px;
border-width: 1px;
padding:0.3em 0.3em;
  }
  .flex-box{
    /* transform: translate(-0.5em,-0.2em); */
    margin: -0.1em -0.2em;
    margin-right: 10px;
    float: right;
  }

  .abt{
border: 2px solid black;
color: black;
font-family:fantasy;
text-align: center;
background-color: lime;
border-right: 5px;
border-width: 1px;
padding:0.0em 0.0em;
  }
.abtdesc{
    color: black;
    background-color: lightgrey;
    width: auto;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 4px solid black;
    padding: 10px;
    margin: 20px;
  }