.bg{
background-color: crimson;
background-size: auto;
height: 38em;
}
.tophead{
    color: black;
    background-color: cornflowerblue;
    border: 2px solid black;
    text-align: center;
    margin-top: 0em;
    font-size: 40px;
    font-weight: bold;
}
.topheadq{
    color: black;
    background-color:burlywood;
    margin: 1em 17.3em;
    text-align: center;
    background-size: 50% auto;
    width: 50%;
    border: 2px solid black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.cure{
    width: 384px;
    height: 240px;
    zoom: 160%;
    border: 3px solid black;
    margin-left: 15em;
    margin-top: 0em;
}
.h1t{
    margin-left: 21em;
    margin-top: 0.3em; 
    color: black;
}
.bg-success{
    display: inline-block;
    border: 2px solid black;
}
