.bfbg{
    background-image: url('../mini-images/carbg.png');
    background-size: contain;
    height: 47.5em;
}

.formTitle{
position: relative;
color: pink;
background-color: rgba(244, 5, 168, 0.5);
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
text-align: center;
top: 1em;
display: flex;
flex-direction: column;
height: 520px;
width: 400px;
border: 2px solid pink;
align-items: center;
margin: auto;
border-radius: 25px;
}

.sucmsg{
    background-color: deeppink;
    position: absolute;
    color:white;
    font-size: 50px;
    text-align: center;
    font-family:cursive;
    font-weight: bold;
    border: 3px solid lightpink;
    margin: -28em 35em;
}
.nameTitle{
    background-color: deeppink;
    position: absolute;
    color:white;
    text-align: center;
    font-family:cursive;
    font-weight: bold;
    border: 3px solid lightpink;
    margin: -26em 35em;
}
.nameTitle::placeholder{
    text-align: center;
}
.phTitle{
    background-color: deeppink;
    position: absolute;
    color:white;
    text-align: center;
    font-family:cursive;
    font-weight: bold;
    border: 3px solid lightpink;
    margin: -24em 35em;
}
.phTitle::placeholder{
    text-align: center;
}
.mailTitle{
    background-color: deeppink;
    position: absolute;
    color:white;
    text-align: center;
    font-family:cursive;
    font-weight: bold;
    border: 3px solid lightpink;
    margin: -22em 35em;
}
.mailTitle::placeholder{
    text-align: center;
}
.fromTitle{
    background-color: deeppink;
    position: absolute;
    color:white;
    text-align: center;
    font-family:cursive;
    font-weight: bold;
    border: 3px solid lightpink;
    margin: -19.5em 31em;
}
.fromTitle::placeholder{
    text-align: center;
}
.toTitle{
    background-color: deeppink;
    position: absolute;
    color:white;
    text-align: center;
    font-family:cursive;
    font-weight: bold;
    border: 3px solid lightpink;
    margin: -13em 31em;
}
.toTitle::placeholder{
    text-align: center;
}
.jourTime{
    background-color: deeppink;
    position: absolute;
    color:white;
    text-align: center;
    font-family:cursive;
    font-weight: bold;
    border: 3px solid lightpink;
    margin: -6em 35em;
}
.jourTime::placeholder{
    text-align: center;
}
.jourDmy{
    background-color: deeppink;
    position: absolute;
    color:white;
    text-align: center;
    font-family:cursive;
    font-weight: bold;
    border: 3px solid lightpink;
    margin: -4em 35em;
}
.jourDmy::placeholder{
    text-align: center;
}
.bookDone1{
    background-color: deeppink;
    position: absolute;
    color: pink;
    font-family:sans-serif;
    font-weight: bold;
    border: 3px solid lightpink;
    border-radius: 20px;
    padding: 5px 15px;
    margin: -1.1em 43.5em;
}
.bookDone2{
    background-color: deeppink;
    position: absolute;
    color: pink;
    font-family:sans-serif;
    font-weight: bold;
    border: 3px solid lightpink;
    border-radius: 20px;
    padding: 5px 15px;
    margin: -1.1em 37.5em;
}

.App {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.book_container {
	width: 250px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 4px 8px rgb(0 0 0 / 25%);
}

.book_img {
	width: 250px;
	height: 300px;
	object-fit: cover;
	border-radius: 10px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.book_name {
	font-size: 20px;
	font-weight: bold;
	margin: 5px 0;
	text-align: center;
}

.book_author {
	font-size: 16px;
	font-weight: 500;
	margin: 5px 0;
	text-align: center;
}

.book_price {
	font-size: 16px;
	font-weight: 500;
	margin: 5px 0;
	text-align: center;
}

.book_price > span {
	color: #21a700;
}

.buy_btn {
	width: 100%;
	height: 50px;
	outline: none;
	border: none;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #f4d072;
	margin-top: 10px;
}

.mid{
    position: relative;
color: pink;
background-color: rgba(244, 5, 168, 0.5);
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
text-align: center;
top: 2em;
display: flex;
flex-direction: column;
border: 2px solid pink;
align-items: center;
margin: auto;
border-radius: 25px;
}

.bookback{
    position: absolute;
    margin: -33em 73em;
    font-family:sans-serif;
    font-weight: bold;
    border: none;
}
.bookbacksub{
    text-decoration: none;
    background-color: rgba(244, 5, 168, 0.5);
    position: absolute;
    color: pink;
    font-size: 1.2em;
    border: 3px solid lightpink;
    border-radius: 50px;
    padding: 5px 15px;
}