.carbg{
    background-image: url('../mini-images/carbg.png');
    background-size: contain;
    height: 130em;
}



    .form1{
        display: flex;
        flex-direction: column;
        height: 500px;
        width: 400px;
        border: 3px solid crimson;
        align-items: center;
        margin: auto;
        margin-top: 50px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 25px;
    }
    .form1 h1{
        color: crimson;
        border: 2px solid black;
        background-color: palevioletred;
        border-radius: 15px;
        font-size: 2rem;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        margin: 50px;
    }

.form1 h3{
    color: palevioletred;
    font-size: 30px;
    margin-top: -1em;
}
.form1 p{
    color: pink;
    font-size: 30px;
    margin-top: -0.5em;
}

    .submit{
        padding: 10px;
        width: 50%;
        background-color: palevioletred;
        color:black;
        border: 2px solid black;
        font-family: monospace;
        /* border: none; */
        font-weight: bold;
        border-radius: 20px;
        font-size: 1rem;
    }

.car-1{
    margin: 2.5em 65em;
    position: absolute;
    zoom: 80%;
    transition: transform 0.5s ease;
}
.car-1:hover{
    transform: translateX(-30px);
}
.imgs-1{
    position: absolute;
    margin: 5em 5em ;
    border: 2px solid crimson;
    transition: transform 0.5s ease;
}
.imgs-1:hover{
    transform: translateY(-30px);
}
.car-2{
    zoom: 80%;
    margin: 33.5em 65em;
    position: absolute;
    transition: transform 0.5s ease;
}
.car-2:hover{
    transform: translateX(-30px);
}
.imgs-2{
    position: absolute;
    margin: 30em 5em ;
    border: 2px solid crimson;
    transition: transform 0.5s ease;
}
.imgs-2:hover{
    transform: translateY(-30px);
}
.car-3{
    zoom:80%;
    margin: 64.5em 65em;
    position: absolute;
    transition: transform 0.5s ease;
}
.car-3:hover{
    transform: translateX(-30px);
}
.imgs-3{
    position: absolute;
    margin: 55em 5em ;
    border: 2px solid crimson;
    transition: transform 0.5s ease;
}
.imgs-3:hover{
    transform: translateY(-30px);
}
.car-4{
    zoom:80%;
    margin: 95.5em 65em;
    position: absolute;
    transition: transform 0.5s ease;
}
.car-4:hover{
    transform: translateX(-30px);
}
.imgs-4{
    position: absolute;
    margin: 80em 5em ;
    border: 2px solid crimson;
    transition: transform 0.5s ease;
}
.imgs-4:hover{
    transform: translateY(-30px);
}
.car-5{
    zoom:80%;
    margin: 126.5em 65em;
    position: absolute;
    transition: transform 0.5s ease;
}
.car-5:hover{
    transform: translateX(-30px);
}
.imgs-5{
    position: absolute;
    margin: 105em 5em ;
    border: 2px solid crimson;
    transition: transform 0.5s ease;
}
.imgs-5:hover{
    transform: translateY(-30px);
} 
.bts11{
    margin: -0em -2em ;
}
.bts22{
    margin: -0em -2em;
}
.bts33{
    margin: -0em -2em;
}
.bts44{
    margin: -0em -2em;
}
.bts55{
    margin: -0em -2em;
}
    
    
    

    
    